beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
click
colorama
EditorConfig==0.12.4
ghp-import
idna==3.8
importlib-metadata
Jinja2
jsbeautifier==1.15.1
Markdown
MarkupSafe
mergedeep
mkdocs
mkdocs-mermaid2-plugin==1.1.1
packaging
pathspec
platformdirs
pymdown-extensions
python-dateutil
PyYAML
pyyaml_env_tag
requests==2.32.3
setuptools==69.0.3
six
soupsieve==2.6
typing_extensions
urllib3==2.2.2
watchdog
wheel==0.42.0
zipp
